[submodule "CMRC"]
	path = CMRC
	url = https://github.com/egorodet/CMRC.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/egorodet/Catch2.git
[submodule "STB"]
	path = STB
	url = https://github.com/egorodet/STB.git
[submodule "DirectXTex"]
	path = DirectXTex
	url = https://github.com/egorodet/DirectXTex.git
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/egorodet/CLI11.git
[submodule "IttApi"]
	path = IttApi
	url = https://github.com/egorodet/IttApi.git
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/egorodet/CMakeModules.git
[submodule "FreeType2"]
	path = FreeType2
	url = https://github.com/egorodet/FreeType2.git
[submodule "Tracy"]
	path = Tracy
	url = https://github.com/egorodet/Tracy
[submodule "BoostNowide"]
	path = BoostNowide
	url = https://github.com/egorodet/BoostNowide.git
	branch = standalone
[submodule "TaskFlow"]
	path = TaskFlow
	url = https://github.com/egorodet/TaskFlow.git
[submodule "FMT"]
	path = FMT
	url = https://github.com/egorodet/FMT.git
[submodule "MagicEnum"]
	path = MagicEnum
	url = https://github.com/egorodet/MagicEnum
[submodule "HLSLpp"]
	path = HLSLpp
	url = https://github.com/egorodet/HLSLpp.git
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/egorodet/Vulkan-Headers.git
[submodule "SPIRV-Cross"]
	path = SPIRV-Cross
	url = https://github.com/egorodet/SPIRV-Cross.git
[submodule "FastNoise2"]
	path = FastNoise2
	url = https://github.com/MethanePowered/FastNoise2.git
